VITE_API_URL=http://localhost:4000/api
VITE_API_PROXY_TARGET=http://localhost:4000
VITE_CLIENT_KEY=change-this-client-key


cd frontend

npm run build
npx cap sync android

cd android
./gradlew assembleDebug